{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    {% if (user.role == 0)%}
        <p>mon rôle : conducteur</p>
       {%elseif user.role == 2%}
          <p>mon rôle : passager & conducteur</p> 
          {% else %}
           <p>mon rôle : passager </p>
    {% endif%}
</div>
