{# empty Twig template #}
{% extends "::base.html.twig"%}
{% block template_annonce %} 
    <html>
        <head>
        <script src="{{asset('bundles/ucovoiturage/plugins/jquery-1.10.2.js')}}"></script>
         <script type="text/javascript">  
           $(document).ready(function(){ 
               $("#numPermis").show();
               $("#numCompte").show();
               $("#label_numPermis").show();
               $("#label_numCompte").show();
               $("#numPermis").attr("required","required");
               $("#numCompte").attr("required","required");
              $("#choix").change( function(){
               if($("#choix").val()=="passager"){
                $("#label_numPermis").hide();
               $("#label_numCompte").hide();
               $("#numPermis").hide();
               $("#numCompte").hide();
               $("#numPermis").attr("required",false);
               $("#numCompte").attr("required",false);
               }else{
               $("#numPermis").show();
               $("#numCompte").show();
               $("#numPermis").attr("required","required");
               $("#numCompte").attr("required","required");
               $("#label_numPermis").show();
               $("#label_numCompte").show();
               }
           });
           });
           </script>
        </head>
        <body>
            <div class="container">
                
                
                    <div class="row">
                        <br><br>
                        {% include '::menu_profil.html.twig'%} 
                        <div class="col-lg-4">
                            <div class="form-group">
                                <form  method="POST" class="" action="{{path('valider_modif_profil')}}">
                                    <label for="choix">choisir role :</label><br>
                                    <select id="choix" name="type">
                                        <option value="conducteur">conducteur</option>
                                        <option value="passager">passager</option>
                                        <option value="all">passager & conducteur</option>
                                    </select><br><br>  
                                    <label for="numCompte" id="label_numCompte">numero de compte : </label>
                                    <input id="numCompte" name="numCompte" type="text" class="form-control" style="width: 400px;"/> 
                                    <label for="numPermis" id="label_numPermis">numero du permis :</label>
                                    <input id="numPermis" name="numPermis" type="text" class="form-control" style="width: 400px;"/> 
                                    <br>
                                    <input type ="submit" value= "valider"/>
                                </form>
                            </div>
                            </div>

                        </div>
                    </div>
                

        </body>
    </html>
{% endblock %}