{% extends "::base.html.twig"%}

{% block layout_fosuser_body %}
    <br>
        </div>

       

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
   {%endblock%}